<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wiatec.bplay">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.wiatec.btv_launcher.provide.Read"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bplay_logo"
        android:label="@string/app_name"
        android:name=".Application"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.AdActivity"/>
        <activity android:name=".activity.PlayActivity"/>
        <activity android:name=".activity.PlayRadioActivity"/>
        <activity android:name=".activity.UpdateActivity"/>
        <activity android:name=".activity.WebViewActivity"/>
        <service android:name=".service.CheckLoginService"/>
        <activity android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.ChannelActivity"/>
        <activity android:name=".activity.MovieActivity"/>

    </application>

</manifest>